<!-- CARD COVER -->
<div *ngIf="board.settings.cardCoverImages && card.idAttachmentCover"
     class="list-card-cover">
</div>
<!-- / CARD COVER -->

<!-- CARD DETAILS -->
<div class="list-card-details">

    <!-- CARD SORT HANDLE -->
    <div class="list-card-sort-handle">
        <mat-icon mat-font-icon="icon-cursor-move" class="icon s16"></mat-icon>
    </div>
    <!-- /CARD SORT HANDLE -->

    <!-- CARD NAME -->
    <div class="subcategory-item">
        <div class="list-card-name">{{card.name}}</div>
        <div style="margin-bottom: 15px">
            <button mat-raised-button color="accent">Edit</button>
            <button mat-raised-button color="warn">Delete</button>
        </div>
    </div>

</div>
<!-- / CARD DETAILS -->

