@import "src/@fuse/scss/fuse";

app-forget {

    #reset-password {
        width: 100%;
        background: url('/assets/images/backgrounds/dark-material-bg.jpg') no-repeat;
        background-size: cover;

        #reset-password-form-wrapper {
            flex: 1 0 auto;
            padding: 32px;

            @include media-breakpoint('xs') {
                padding: 16px;
            }

            #reset-password-form {
                background: white;
                width: 400px;
                max-width: 400px;
                padding: 32px;
                text-align: center;
                @include mat-elevation(16);

                @include media-breakpoint('xs') {
                    padding: 24px;
                    width: 100%;
                }

                .logo {
                    width: 128px;
                    margin: 32px auto;
                }

                .title {
                    font-size: 20px;
                    margin: 16px 0 32px 0;
                }

                form {
                    width: 100%;
                    text-align: left;

                    mat-form-field {
                        width: 100%;
                    }

                    .submit-button {
                        width: 220px;
                        margin: 16px auto;
                        display: block;

                        @include media-breakpoint('xs') {
                            width: 90%;
                        }
                    }
                }

                .login {
                    margin: 32px auto 24px auto;
                    width: 250px;
                    font-weight: 600;

                    .text {
                        margin-right: 8px;
                    }
                }
            }
        }
    }
}

@media(min-height: 768px) {
    #reset-password-form-wrapper {
        height: 100vh;
    }
}

@mixin reset-password-theme($theme) {

    $background: map-get($theme, background);
    $is-dark: map-get($theme, is-dark);

    reset-password {

        #reset-password {

            #reset-password-form-wrapper {

                #reset-password-form {
                    @if ($is-dark) {
                        background: mat-color($fuse-navy, 600);
                    } @else {
                        background: map-get($background, card);
                    }
                }
            }
        }
    }
}