<!-- BOARDS -->
<div id="boards" class="fuse-navy" fxLayout="column" fxLayoutAlign="start center" fxFlex fusePerfectScrollbar>
    <img class="background-image" src='/assets/images/client/background_image@2x.png'>
    <div class="header pt-44 pt-md-88" fxLayout="row" fxLayoutAlign="center center" fxFlex="0 0 auto"
        [@animate]="{value:'*',params:{delay:'100ms'}}">
        <h1 style="font-weight: 600; text-align: center">EXPLORE PRODUCTS</h1>
    </div>

    <!-- BOARD LIST -->
    <div class="board-list" fxFlex="0 0 auto" fxLayout="row wrap" fxLayoutAlign="center center"
        [@animateStagger]="{value:'50'}">

        <div class="board-list-item" *ngFor="let category of categories" fxLayout="column" fxLayoutAlign="center center"
            [@animate]="{value:'*',params:{y:'100%'}}" [routerLink]="['/client/category/' + category.id]">
            <!-- <mat-icon class="s-56">assessment</mat-icon> -->
            <img [src]="category.image" class="s-56"/>
            <div class="board-name">{{category.name}}</div>
            <div class="border-description">{{category.description}}</div>
        </div>
    </div>

    <button mat-raised-button class="view-suggested-btn">
        <h2>View Suggested Products</h2>
        <p>See suggested products starting from a known product</p>
    </button>
</div>