@import "src/@fuse/scss/fuse";

app-dashboard {
    min-height: 100%;

    #boards {
        width: 100%;
        overflow: auto;
        background-color: #FAA61A !important;
        -webkit-overflow-scrolling: touch;
        // z-index: -998;

        .header {

            h1 {
                font-size: 40px;
                font-weight: 300;
            }
        }


        .board-list {
            z-index: 0;
            padding: 32px 0;
            max-height: none !important;

            .board-list-item {
                // z-index: 1;
                background-color: white !important;
                color: black;
                min-width: 210px;
                min-height: 210px;
                width: 300px;
                min-height: 350px;
                padding: 24px 0;
                margin: 16px;
                border-radius: 8px;
                cursor: pointer !important;
                // background: rgba(0, 0, 0, 0.12);
                transition: box-shadow 150ms ease-in;
                cursor: pointer;

                &:hover:not(.add-new-board) {
                    @include mat-elevation(8);
                }

                .board-name {
                    padding: 16px 32px 0 32px;
                    font-weight: 300;
                    font-size: 16px;
                    text-align: center;
                }
                .border-description {
                    padding: 10px 10px 20px;
                }

                &.add-new-board {
                    background: rgba(0, 0, 0, 0.06);
                    border: 2px dashed rgba(255, 255, 255, 0.37);
                }

                .border-footer {
                    background: gainsboro;
                    width: 100%;
                    padding: 10px;
                    margin-bottom: -24px;
                    border-bottom-right-radius: 8px;
                    border-bottom-left-radius: 8px;
                    display: flex;

                    .category-stock {
                        width: 40px;
                        height: 40px;
                        background: orange;
                        border: 2px solid white;
                        border-radius: 20px;
                        font-size: 15px;
                        color: white;
                        display: flex;
                        margin-top: -30px;

                        h4 {
                            margin: auto;
                        }
                    }

                    .footer-title {
                        width: 80%;
                        color: white;
                        text-align: center;
                        h4 {
                            margin-bottom: 0px;
                            margin-top: 0px;
                        }
                    }
                }
            }
        }
    }
}


@mixin scrumboard-theme($theme) {

    $background: map-get($theme, background);
    $foreground: map-get($theme, foreground);
    $accent: map-get($theme, accent);

    // List
    app-dashboard {

        .list {

            .list-header,
            .list-content,
            .list-footer {
                background: map-get($background, app-bar);
            }

            .list-header {
                border-bottom-color: map-get($foreground, divider);
            }

            .list-footer {
                border-top-color: map-get($foreground, divider);
            }

        }
    }


    // Card dialog
    .scrumboard-card-dialog {

        .mat-dialog-container {

            .mat-dialog-content {

                .sections {

                    .section {
                        border-bottom-color: map-get($foreground, divider);

                        .attachments {

                            .attachment {

                                .attachment-preview {
                                    background-color: map-get($background, card);
                                }

                                .attachment-content {

                                    .attachment-time {
                                        color: map-get($foreground, secondary-text);
                                    }
                                }
                            }
                        }

                        .comments {

                            .comment {

                                .comment-bubble {
                                    background-color: map-get($background, app-bar);
                                    border-color: map-get($background, app-bar);

                                    &:after,
                                    &:before {
                                        border-color: map-get($background, app-bar) transparent transparent transparent;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .scrumboard-labels-menu {

        .mat-menu-content {

            .views {

                .view {

                    > .header {
                        border-bottom-color: map-get($foreground, divider);
                    }
                }
            }
        }
    }

}

@media(max-width: 767px) {

    .header {

        h1 {
            font-size: 30px !important;
            font-weight: 300;
        }
    }

    .view-suggested-btn {
        width: 96%;
        margin-left: 2%;
        margin-right: 2%;

        p {
            font-size: 10px;
        }
    }
}


.background-image {
    width: 100%;
    position: absolute;
    bottom: 20px;
}

.view-suggested-btn {
    margin-bottom: 20px !important;
    background: #2D323E !important;
    color: white !important;
    border-radius: 20px !important;
}