<div class="list mat-elevation-z1" fxLayout="column">

    <!-- LIST HEADER -->
    <div class="list-header" fxFlex fxLayout="row" fxLayoutAlign="space-between center">

        <div fxFlex="1 0 auto" class="list-header-name">
            {{list.name}}
        </div>
        <div style="margin-top: 15px">
            <button mat-raised-button color="accent">Edit</button>
            <button mat-raised-button color="warn">Delete</button>
        </div>

    </div>
    <!-- / LIST HEADER -->

</div>
