<p>A generic static hardcoded intro text for All PRODUCTS.</p>

<div style="display: block">
    <div>
        <p><span style="font-weight: 600">Known product:</span> Known product he selected when starting suggest</p>
    </div>
    <div>
        <p><span style="font-weight: 600">Interested in:</span> Current suggested product - on which he clicked I'm interested</p>
    </div>
    <mat-form-field appearance="outline" style="width: 100%">
        <mat-label>Name</mat-label>
        <input matInput placeholder="Name" />
    </mat-form-field>
    
    <mat-form-field appearance="outline" style="width: 100%">
        <mat-label>Phone</mat-label>
        <input matInput placeholder="Phone" />
    </mat-form-field>
    
    <button mat-raised-button color="primary">Send</button>
</div>

